alias ls="ls -alG"

# Homebrew
alias brewi="brew install"
alias brewr="brew remove"

alias brewci="brew cask install"
alias brewcr="brew cask remove"

# Python
alias pyvenv="python3 -m venv .venv"
alias venvs="source .venv/bin/activate"

alias pip-upgrade="pip freeze --user | cut -d'=' -f1 | xargs -n1 pip install -U"
alias pip-upgrade-venv="pip freeze | cut -d'=' -f1 | xargs -n1 pip install -U"

# Shortcuts
alias SourceTree="open /Applications/Sourcetree.app &"
